.App {
  color: black;
}

.nav-link {
  color: black;
}
ul {
  color: black;
}

.landbutt {
  margin-bottom: 100px;
}

.signbox h2 {
  text-align: center;
  margin-top: 30px;
}
.loginbox h2 {
  text-align: center;
  margin-top: 30px;
}

.signupbtn {
  margin-top: 1rem;
  margin-left: 140px;
}
.tudyintro {
  margin-right: 40px;
}

.todo {
  background-color: #3f3160;
  min-height: 500px;
  width: 600px;
  margin: 50px auto;
}
.todo-form input {
  margin-top: 30px;
  background-color: #fde589;
  height: 50px;
  width: 400px;
  border: 0;
  border-radius: 5px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 18px;
  padding: 10px;
}

.todo-form input::placeholder {
  color: black;
}
.todo-form button {
  width: 80px;
  height: 50px;
  border-radius: 4px;
  background-color: #e0caf7;
  border: 0;
}
.signupbtn {
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .landimg {
    margin-top: 4rem;
    height: 20rem;

    max-width: 50%;
    float: left;
  }
  .signimg {
    margin-top: 4rem;
    height: 20rem;

    max-width: 50%;
    float: left;
  }
  .loginbox {
    max-width: 40%;
    max-height: 400px;
  }
  .signbox {
    max-width: 40%;
    max-height: 400px;
  }
  .loginbox h2 {
    font-size: 20px;
    margin-top: 0px;
  }
  .signbox h2 {
    font-size: 20px;
    margin-top: 0px;
  }
  .loginform {
    max-width: 60%;
  }
  .signform {
    max-width: 60%;
  }

  .loginform p {
    font-size: 13px;
  }
  .signform p {
    font-size: 13px;
  }
  .loginform label {
    font-size: 13px;
  }
  .signform label {
    font-size: 13px;
  }

  .loginform button {
    margin-right: 50px;
    width: 70px;
    height: 40px;
    font-size: 12px;
    margin-bottom: 0px;
  }
  .signform button {
    width: 70px;
    height: 20px;
    font-size: 10px;
  }

  .loginput {
    width: 20%;
  }
  .signform input {
    width: 50px;
  }

  .loginpout {
    width: 80%;
  }
  .loginform input::placeholder {
    font-size: 10px;
  }
  .signform input::placeholder {
    font-size: 5px;
  }
}
